body{
    margin:0px;
    padding:0px;
    background-color:navajowhite;
    text-align: center; 
    background-image:url(calsi.jpeg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.mainsec{
    display: flex;
    flex-direction: column;
    
}
h1{
    font-size:  60px;
    color:cornsilk;
}
input{
    width:80px;
    height: 55px;
    font-size:45px;
    border-radius: 10px;
    margin:10px;

}

.txt{
    width:400px;
    height:80px;  
}

.btn1{
    background-color: darkgrey;
}
.btn1:hover{
    background-color: chartreuse;
}
.btn2{
    background-color: lightgreen;
}
.btn2:hover{
    background-color: chartreuse;
}
.btn:hover{
    background-color: chartreuse;
    cursor:pointer;


}